body{
	background-image: url("bg.jpg");
	font-family: 'Press Start 2P', cursive;
}

#borders{
	background-color: white;
	border-radius: 15px;
	padding-top: 6px;
}

a{
	color: black;
	text-decoration: none;
}
a:hover{
	color: red;
	text-decoration: none;
}

#playlists{
	border: 1px #6c757d solid;
	background: white;
	border-radius: 5px;
	padding: 4px 2px 2px 4px;
}

#routine:hover{
	color: #3366ff;
}

#code{
	color: black;
}
#code:hover{
	color: #007500;
}

#useful:hover{
	color: #ff8533;
}

#hobbies:hover{
	color: #ff99ff;
}